:root {
  --light: white;
  --dark: black;
  --flair: blue;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: skyblue;
  font-family: "Rethink Sans", sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.header > nav {
  display: flex;
  flex-direction: column;
}

.create1-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.create1-form {
  display: flex;
  flex-direction: column;
}

.create1-form > label {
  padding: 20px 5px;
}

.hide {
  display: none;
}
