:root {
  --light: #eff9f0;
  --dark: #61686b;
  --flair: #668d90;
  --bgopaque: rgba(255, 255, 255, 0.5);
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/sean-oulashin-KMn4VEeEPR8-unsplash.jpg);
  background-size: 300%;
  background-position: top;
  font-family: "PT Sans Narrow", sans-serif;
}

.link,
button {
  font: inherit;
  text-decoration: none;
  color: var(--flair);
}

button {
  background-color: var(--flair);
  color: var(--light);
  opacity: 90%;
  font-style: bold;
  font-size: 20px;
  border-radius: 5%;
  width: 7em;
  margin: 0 auto;
}

button:hover {
  cursor: pointer;
  background-color: var(--light);
  color: var(--dark);
}

/************ HEADER *************/

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 20px; */
  background-color: var(--bgopaque);
  color: var(--light);
  border: 1px solid var(--light);
  width: 100dvw;
}

.offscreen-menu {
  display: flex;
  flex-direction: column;
  background-color: var(--flair);
  height: 100vh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  left: -450px;
  z-index: 2;
  transition: 0.3s ease;
}

#ham-toggle {
  display: none;
}

nav:has(#ham-toggle:checked) .offscreen-menu {
  left: 0;
}

nav:has(#ham-toggle:checked) .hamburger-menu span {
  background-color: var(--light);
  z-index: 2;
}

nav:has(#ham-toggle:checked) .hamburger-menu span:nth-child(1) {
  margin-left: 25px;
  top: 55%;
  transform: translate(-50%, -50%) rotate(45deg);
}

nav:has(#ham-toggle:checked) .hamburger-menu span:nth-child(2) {
  opacity: 0;
}

nav:has(#ham-toggle:checked) .hamburger-menu span:nth-child(3) {
  margin-left: 25px;
  top: 45%;
  transform: translate(-50%, 50%) rotate(-45deg);
}

.hamburger-menu:hover {
  cursor: pointer;
}
.hamburger-menu {
  margin-top: 30px;
  padding-top: 20px;
  height: 50px;
  width: 50px;
  margin-right: auto;
  position: relative;
}

.hamburger-menu span {
  height: 5px;
  width: 100%;
  background-color: var(--flair);
  border-radius: 25px;
  position: absolute;
  transition: 0.3s ease;
}

.hamburger-menu span:nth-child(1) {
  top: 25%;
}

.hamburger-menu span:nth-child(2) {
  top: 50%;
}

.hamburger-menu span:nth-child(3) {
  top: 75%;
}

.offscreen-menu > .link {
  padding: 20px 0 0 20px;
  color: var(--light);
  font-size: 26px;
}

.header > nav {
  display: flex;
  flex-direction: column;
  /* text-align: left; */
}

.link > h1 {
  font-size: 55px;
  padding: 20px;
}

/*********** LANDING ************/

.landing-container,
.timer-container,
.create2-page,
.index,
.show {
  background-color: var(--bgopaque);
  margin: 0 5%;
  margin-top: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light);
  border-radius: 3%;
}

/********* CREATE PT. 1 FORM **********/

.create-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.create-form {
  display: flex;
  flex-direction: column;
  color: var(--dark);
  font-size: 20px;
}

.create-form > label {
  padding: 20px 5px;
}

.form-input {
  width: 100%;
  padding-top: 5px;
  margin-top: 5px;
  background-color: whitesmoke;
  color: var(--flair);
}

/**************** TIMER ***************/

.timer-container {
  border: none;
  background: none;
}

.timer-container > h2 {
  font-size: 150px;
  color: whitesmoke;
}

/********* CREATE PT. 2 FORM **********/

.hide {
  display: none;
}

.create-form > textarea {
  min-height: 60px;
  line-height: 20px;
  word-wrap: normal;
  font: inherit;
}

/********* INDEX **********/

.index {
  margin-top: 10%;
  padding: 0 10px;
}

.index > h2 {
  color: whitesmoke;
  padding: 5px;
  font-size: 44px;
}

.pause {
  border-top: 2px solid var(--light);
  width: 100%;
  padding: 2px 10px;
  margin-bottom: 5px;
}

.pause > .link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-button {
  width: 1.5em;
}

/********* SHOW **********/

.show {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 15px;
}

.show-content {
  padding: 15px 10px;
  text-align: left;
  color: var(--flair);
}

.show-content > h2 {
  border-bottom: 4px double var(--flair);
}

.show-content > p {
  padding: 5px 2px;
  border-bottom: 1px solid var(--light);
  font-size: 20px;
}

.show-content > h6 {
  font-size: 20px;
  padding: 0 2px;
  padding-top: 5px;
}

.go-back-button {
  margin: 0;
}

/***********************************************/
/************  RESPONSIEVENESS ******************/
/***********************************************/

@media screen and (min-width: 500px) {
  body {
    background-size: 250%;
  }
}

@media screen and (min-width: 700px) {
  body {
    background-size: 200%;
  }
  .landing-container,
  .timer-container,
  .create2-page,
  .index,
  .show {
    margin: 15% 20%;
  }
}

@media screen and (min-width: 975px) {
  body {
    background-size: 150%;
  }

  .landing-container,
  .timer-container,
  .create2-page,
  .index,
  .show {
    margin: 10% 20%;
  }

  .timer-container > h2 {
    font-size: 250px;
  }
}

@media screen and (min-width: 1300px) {
  body {
    background-size: 100%;
  }

  .landing-container,
  .timer-container,
  .create2-page,
  .index,
  .show {
    margin: 10% 20%;
  }

  .page-button {
    margin: 0 8px;
  }

  .go-back-button,
  .delete-button > button {
    margin: 0 20px;
  }

  .show-content > h2 {
    font-size: 36px;
  }

  .show-content > p,
  .show-content > h6 {
    font-size: 24px;
  }
  nav > .link {
    font-size: 22px;
  }
}

@media screen and (min-width: 1550px) {
  .landing-container,
  .timer-container,
  .create2-page {
    margin: 10% 30%;
    padding: 10px;
  }

  .index,
  .show {
    margin: 5% 25%;
  }

  .page-button {
    font-size: 18px;
  }

  .create-form > label {
    padding: 20px 5px;
  }

  .form-input {
    margin: 10px 0;
  }

  button {
    font-size: 26px;
  }

  .timer-container > h2 {
    font-size: 275px;
    color: rgba(255, 255, 255, 0.72);
  }

  .pause p {
    font-size: 18px;
  }

  .update-container input,
  .update-container textarea {
    margin: 0;
  }

  .update-container label {
    margin-top: 0;
    padding-top: 5px;
  }

  .link > h1 {
    font-size: 65px;
  }
}

@media screen and (min-width: 1850px) {
  body {
    background-size: 100%;
  }
  nav > .link {
    font-size: 24px;
  }

  .timer-container > h2 {
    font-size: 325px;
  }

  .pause p {
    font-size: 20px;
  }
}
